<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!-- Database connection -->
  <connectionStrings>
    <add name="HermesContext" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=HermesMaster;User ID=HermesUser;Password=welcome1" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Application config -->
  <appSettings>

    <!-- Service -->
    <add key="ServiceName" value="hermes_webapi" />
    <add key="ServiceDisplayName" value="Hermes WebAPI" />
    <add key="ServiceDescription" value="Hermes WebAPI" />
    <add key="SelfHostUrl" value="http://localhost:8966" />

    <!-- RabbitMQ -->
    <add key="RmqHost" value="localhost" />
    <add key="RmqPort" value="5672" />
    <add key="RmqUsername" value="hermes" />
    <add key="RmqPassword" value="welcome1" />
    <add key="RmqExchangeName" value="hermes_notifications" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>