<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!-- Database connection -->
  <connectionStrings>
    <add name="HermesContext" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=HermesMaster;User ID=HermesUser;Password=welcome1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- Application config -->
  <appSettings>
  
    <!-- Service -->
    <add key="ServiceName" value="hermes_websockets" />
    <add key="ServiceDisplayName" value="Hermes WebSockets" />
    <add key="ServiceDescription" value="Hermes WebSockets" />

    <!-- RabbitMQ -->
    <add key="RmqHost" value="localhost" />
    <add key="RmqPort" value="5672" />
    <add key="RmqUsername" value="hermes" />
    <add key="RmqPassword" value="welcome1" />
    <add key="RmqExchangeName" value="hermes_notifications" />
  
  </appSettings>

  <!-- SuperSocket config -->
  <superSocket logFactory="NLogFactory" disablePerformanceDataCollector="true">
    <servers>
      <server name="HermesServer" serverType="Hermes.WebSockets.Websockets.Server.HermesServer, Hermes.WebSockets" ip="Any" port="2012" maxConnectionNumber="200" maxRequestLength="2048">
      </server>
    </servers>
    <logFactories>
      <add name="NLogFactory" type="Hermes.WebSockets.Websockets.Helpers.NLogFactory, Hermes.WebSockets" />
    </logFactories>
  </superSocket>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <httpRuntime maxRequestLength="2048576" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>